body {
    color: #000;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.yellow {
    color: #FFDD00;
}

header {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    z-index: 1;
}

nav {
    background: rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 1;
}

#enactus {
    height: 60px;
    margin-top: -30px;
    width: 100px;
}

ul {
    margin: auto;
    width: 70%;
}

a {
    color: #FFDD00;
    font-size: 21px;
    font-weight: 700; 
    letter-spacing: 3px;
    margin: 6px;
}

a:hover {
    background-color: rgba(255, 194, 34, 0.9);
    color: #000;
} 

.slider {
    background-color: #000; 
}

#landing-header {
    padding-bottom: 52vh;
    padding-top: 40vh;
    position: relative;
    text-align: center;
    z-index: 1;
}

#landing-header h1 {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    margin: auto;
    width: 30%;
}

.slideshow { 
    height: 100%;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
}

.slideshow li { 
    animation: imageAnimation 50s linear infinite; 
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.slideshow li:nth-child(1) { 
    background-image: url(https://images.unsplash.com/photo-1494832944834-a08818c634b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) 
}

.slideshow li:nth-child(2) { 
    animation-delay: 9s; 
    background-image: url(https://images.unsplash.com/photo-1504159506876-f8338247a14a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

.slideshow li:nth-child(3) { 
    animation-delay: 18s; 
    background-image: url(https://images.unsplash.com/photo-1549741669-eab99fe172a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

.slideshow li:nth-child(4) { 
    animation-delay: 27s; 
    background-image: url(https://images.unsplash.com/photo-1506463041373-f71b11c4b293?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

.slideshow li:nth-child(5) { 
    animation-delay: 36s; 
    background-image: url(https://images.unsplash.com/photo-1569140733895-eabccf089fc3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

@keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
}

section {
    position: absolute;
    z-index: 2;
}

.section {
    background-attachment: fixed;
    background-image: url(https://robertsenactus.org/wp-content/uploads/2014/08/Summer-Background-004.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
}

.jumbotron {
    background: #283c86;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

li {
    list-style: none;
}

a {
    cursor: pointer
}

.contact {
    color: #000;
}

footer {
    color: #ddd;
    position: absolute;
    z-index: 1;
}

.footer {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width: 765px) {
    .slider {
        display: none;
    }

    section {
        margin: 0;
        position: relative;
        padding: 0;
    }
}